

<h3>
 Thank you for your order from the Jungle! 
</h3>
<p>Your order contains: 
  <br>
  <% @line_items.each do |li| %>
  <br><%= li.product.name%><br>
  <% end %>

  <br>
  Your total was $<%= @order.total_cents / 100 %>.
</p>
